/*
reset
*/

* {
	margin: 0;
	padding: 0;
	border: none;
	font: inherit;
	box-sizing: border-box;
}
a {
	text-decoration: inherit;
}
button {
	background: transparent;
	color: inherit;
	cursor: pointer;
}

/*
global
*/

html {
	font-size: 16px;
}
body {
	background-color: black;
	color: white;
	font-family: 'IBM Plex Mono', monospace;
	font-size: 1rem;
}
@media (min-width: 800px){
	body {
		font-size: 1.4rem;
	}
}
@media (min-width: 1200px){
	body {
		font-size: 1.8rem;
	}
}
html, body {
	width: 100%;
	height: 100%;
}

/*
layout
*/

main,
nav.main {
	width: 100vw;
	height: 100vh;
	display: flex;
}
@media (orientation: portrait){
	main {
		flex-direction: column;
	}
}

section {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
main section > div {
	padding: 0.5em;
}

/*
canvas
*/

canvas {
	display: block;
	background-color: black;
	margin: 0.25em;
}

/*
helpers
*/

.hidden {
	position: fixed;
	top: -9999px;
	left: -9999px;
}
.black {
	background-color: black;
	color: white;
}
.white {
	background-color: white;
	color: black;
}
.grey {
	background-color: #222;
}
.stretch {
	flex: 1;
}
.minispace {
	display: inline-block;
	margin-right: 0.1em;
}

/*
ui button
*/

.button:hover,
button:hover {
	/* animation: blinkText 200ms linear infinite; */
}
.button,
button {
	padding: 0.25em 0.5em;
	background-color: white;
	color: black;
}

/*
file input
*/

input[type=file] {
	color: transparent;
	display: flex;
	border: none;
}
input[type=file]::-webkit-file-upload-button {
	visibility: hidden;
}
input[type=file]::-webkit-file-upload-button {
	visibility: hidden;
}
input[type=file]:hover::before {
	animation: blinkText 200ms linear infinite;
}
input[type=file]::before {
	content: 'Click here to select file';
	color: black;
	display: inline-block;
	padding: 0.25em 0.5em;
	border: 2px solid black;
	outline: none;
	white-space: nowrap;
	-webkit-user-select: none;
	cursor: pointer;
	width: 100%;
	background-color: #444;
}
input[type=file]:active {
	outline: 0;
}

/*
dropdown select
*/

select {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	border: 2px solid black;
	background-color: white;
	border-radius: 0;
	padding: 0.25em 0.5em;
	outline: none;
}
select:hover {
	animation: blinkText 200ms linear infinite;
}
.select-wrapper {
	position: relative;
}
.select-wrapper::before {
	position: absolute;
	right: 0.7em;
	top: 0.45em;
	border-right: 2.5px solid black;
	border-bottom: 2.5px solid black;
	content: '';
	width: 0.6em;
	height: 0.6em;
	display: block;
	z-index: 10;
	transform: rotate(45deg);
}
.select-wrapper:hover::before {
	animation: blink 200ms linear infinite;
}

/*
effects
*/

@keyframes blink {
	0%, 100% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
}
@keyframes blinkText {
	0%, 100% {
		color: black;
	}
	50% {
		color: white;
	}
}